@import "tailwindcss";

html,
body {
  background-color: #0b1020;
  font-family: var(--font-montserrat), sans-serif;
}

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

.font-montserrat-alt {
  font-family: var(--font-montserrat-alternates), sans-serif;
}

@layer components {
  .btn-primary {
    font-family: var(--font-montserrat-alternates), sans-serif;
    @apply flex w-full cursor-pointer items-center justify-center overflow-hidden rounded-full bg-white min-h-[56px] px-5 py-4 text-[17px] sm:min-h-[62px] sm:text-[18px] md:min-h-[74px] md:text-[22px] text-center font-bold leading-none text-black transition-colors duration-200 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .btn-secondary {
    font-family: var(--font-montserrat-alternates), sans-serif;
    @apply flex w-full cursor-pointer items-center justify-center overflow-hidden rounded-3xl bg-white min-h-[56px] px-5 py-4 text-[17px] sm:min-h-[62px] sm:text-[18px] md:min-h-[74px] md:text-[22px] text-center font-bold leading-none text-black transition-colors duration-200 disabled:cursor-not-allowed disabled:opacity-50;
  }
}